:root {
    --input-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

nav {
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: small;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav > * {
    margin: 5px;
    color: #333;
}

nav img {
    height: 5vh;
    width: 5vh;
    background-color: #333;
    border-radius: 50%;
}

form {
    width: 47.5vw;
}

.main-logo {
    width: 100%;
    padding: 0 20% 5vh;
    transition: transform .2s;
    animation-name: slide-down;
    animation-duration: 1s;
    position: relative;
}

@keyframes slide-down {
    0% {
        top: -200px;
    }
    100% {
        top: 0;
    }
}

.main-logo:hover {
    transform: scale(1.1);
}

.search-input input {
    width: 100%;
    height: var(--input-height);
    border-radius: calc(var(--input-height) / 2);
    padding: 0 var(--input-height);
    border: 1px solid #dfe1e5;
    font-size: 16px;
}

.search-input input:focus, .search-input input:hover {
    outline: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0);
}

.search-input {
    position: relative;
    animation-name: slide-right;
    animation-duration: 1s;
}

@keyframes slide-right {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}

.icon {
    position: absolute;
    top: 25%;
    opacity: 0.35;
}

.mic-icon {
    right: 20px;
}

.search-icon {
    left: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slide-up;
    animation-duration: 1s;
    position: relative;
}

@keyframes slide-up {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: 0;
    }
}

.buttons button {
    color: #3c4043;
    background-color: #f8f9fa;
    padding: 10px 15px;
    border: none;
    margin: 5vh 1vh 0;
    border-radius: 5ox;
    border: 1px solid rgba(0, 0, 0, 0);
}

.buttons button:hover {
    border: 1px solid #ddd ;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

form p {
    font-size: 13px;
    text-align: center;
    margin-top: 5vh;
    animation-name: slide-up;
    animation-duration: 1s;
    position: relative;
}